<div class="container mt-5 pb-5 mb-5">
  <div class="d-flex justify-content-between flex-wrap flex-row align-items-stretch">
    <div class="slide-in-bck-left d-flex align-items-start flex-column flex-fill white-text">
      <div class="mt-5 p-2" style="width: 100%;">
        <h1 class="">Whispxr</h1>
        <h2>Your secrets, safely kept</h2>
      </div>
      <div class="mt-5 p-2">
        <h2 class="counter">{{count}}</h2>
        <h3>whispxr created</h3>
      </div>
      <div class="d-block d-sm-none d-flex align-items-center justify-content-center w-100">
        <button class="btn btn-outline-primary btn-lg w-75 rounded-pill  my-5" (click)="scrollToForm()">Try it
          now</button>
      </div>
    </div>
    <div class="d-flex flex-column align-items-center flex-fill justify-content-center slide-in-bck-right"
      style="position: relative; min-height: 100vh; max-width: 500px;">
      <app-secret-form id="secretForm" style="width: 100%; max-width: 500px; flex-shrink: 0; height: 100%;"
        (createdSecret)="getCounter()">
      </app-secret-form>
    </div>
  </div>
</div>