<div class="container mt-5 pb-5" style="height: 75vh;">
    <div class="d-flex justify-content-center flex-wrap flex-row">
        <div class="d-flex align-items-start flex-column flex-fill">
            <div class="mt-5 p-2">
                <h1>Whispxr</h1>
                <h2>Your secrets, safely kept</h2>
            </div>
        </div>
        <div class="d-flex align-items-center flex-column flex-fill">
            <app-secret-viewer style="min-width: 400px; width: 100%;"></app-secret-viewer>
        </div>
    </div>
</div>