<form [formGroup]="form" (ngSubmit)="submit()" class="card py-4 px-5 border-0">
    <label for="password" class="form-label">Whispxr password</label>
    <div class="input-group">
        <input [type]="isPasswordVisible ? 'text' : 'password'" class="form-control text-bg-secondary border-light"
            formControlName="password" id="password" />
        <button type="button" (click)="togglePasswordVisibility()"
            class="btn btn-outline-light input-group-text text-bg-secondary">
            <i class="bi {{ isPasswordVisible ? 'bi-eye-fill' : 'bi-eye-slash-fill' }}"></i>
            
        </button>
    </div>
    <br>
    @if(!secret){
    <button type="submit" class="btn btn-dark my-3">
        @if(isWaitingResponse){
        <span class="spinner-grow spinner-grow-sm" aria-hidden="true"></span>
        <span role="status"> Revealing ...</span>
        }@else {
        Reveal
        }
    </button>
    }@else {
    <label for="text" class="form-label mt-3">Whispxr</label>
    <textarea class="form-control text-bg-secondary border-light" id="text" rows="10" readonly>{{secret}}</textarea>
    }
</form>