<form [formGroup]="form" (ngSubmit)="submit()"
    class="card py-4 px-auto border-0 slide-in-fwd-center d-flex justify-content-center flex-column align-items-center"
    style="max-width: 500px; width: 100%;">
    <h3 class="mb-3">Reveal whispxr</h3>
    <div class="mb-3 w-100" id="passwordDiv">
        <label for="password" class="form-label mb-0 black-text tracking-in-expand">Whispxr password</label>
        <div class="input-group shadow" id="passwordParent">
            <input [type]="isPasswordVisible ? 'text' : 'password'" class="form-control white-background border-light"
                formControlName="password" id="password"
                placeholder="&#9679;&#9679;&#9679;&#9679;&#9679;&#9679;&#9679;&#9679;" />
            <button type="button" (click)="togglePasswordVisibility()"
                class="btn btn-outline-light input-group-text text-bg-light">
                <i class="bi {{ isPasswordVisible ? 'bi-eye-fill' : 'bi-eye-slash-fill' }}"></i>
            </button>
        </div>
    </div>
    <br>
    @if(!secret){
    <button type="submit" class="btn btn-lg btn-outline-primary shadow rounded-pill w-50 white-background"
        id="revealButton">
        @if(isWaitingResponse){
        <span class="spinner-grow spinner-grow-sm" aria-hidden="true"></span>
        <span role="status"> Revealing ...</span>
        }@else {
        Reveal
        }
    </button>
    }@else {
    <div class="mb-3 mt-3 w-100" id="textDiv">
        <label for="text" class="form-label mb-0 black-text tracking-in-expand">Whispxr</label>
        <textarea class="form-control white-background border-light shadow" id="text" rows="10"
            readonly>{{secret}}</textarea>
    </div>
    }
</form>