<form [formGroup]="form" (ngSubmit)="submit()" class="card py-4 px-5 border-0">
    <div class="mb-3">
        <label for="text" class="form-label mb-0">Whispxr</label>
        <textarea class="form-control text-bg-secondary border-light" formControlName="text" id="text"
            rows="10"></textarea>
    </div>
    <br>
    <div class="mb-3">
        <label for="password" class="form-label mb-0">Password</label>
        <div class="input-group">
            <input [type]="isPasswordVisible ? 'text' : 'password'" class="form-control text-bg-secondary border-light"
                formControlName="password" id="password" />
            <button type="button" (click)="togglePasswordVisibility()"
                class="btn btn-outline-light input-group-text text-bg-secondary">
                <i class="bi {{ isPasswordVisible ? 'bi-eye-fill' : 'bi-eye-slash-fill' }}"></i>

            </button>
        </div>
    </div>
    <br>
    <div class="mb-3">
        <label for="expirationTime" class="form-label mb-0">Expiration Time</label>
        <select class="form-select text-bg-secondary border-light" name="expirationTime" id="expirationTime"
            formControlName="expirationTime">
            <option value="5">5 min</option>
            <option value="30">30 min</option>
            <option value="60">1 hour</option>
            <option value="180">3 hour</option>
        </select>
    </div>
    <br>
    <button type="submit" class="btn btn-dark">
        @if(isWaitingResponse){
        <span class="spinner-grow spinner-grow-sm" aria-hidden="true"></span>
        <span role="status"> Creating ...</span>
        }@else {
        Create
        }
    </button>
</form>
@if(final_url){
<div class="card m-auto mt-3">
    <div class="card-header text-bg-success">
        <p class="form-control text-bg-success border-0 text-center m-1 pointerCursor" (click)="copyToClipboard()">
            {{final_url}}
        </p>
    </div>
    <div class="card-body d-flex justify-content-around">
        <button class="btn btn-dark" (click)="copyToClipboard()"><i class="bi bi-clipboard"></i> Copy to
            clipboard</button>
        <div>
            <!-- WhatsApp -->

            <button (click)="shareOnWhatsApp()" class="btn btn-dark"><i class="bi bi-whatsapp"></i></button>
            <!-- Telegram -->
            <button (click)="shareOnTelegram()" class="btn btn-dark ms-2"><i class="bi bi-telegram"></i></button>
        </div>
    </div>
</div>
}