<form [formGroup]="form" (ngSubmit)="submit()" class="card py-4 px-5 border-0">
    <div class="mb-3">
        <label for="text" class="form-label mb-0">Whispxr</label>
        <textarea class="form-control text-bg-secondary border-light" formControlName="text" id="text" rows="10"></textarea>
    </div>
    <br>
    <div class="mb-3">
        <label for="password" class="form-label mb-0">Password</label>
        <input class="form-control text-bg-secondary border-light" type="password" formControlName="password" id="password" />
    </div>
    <br>
    <div class="mb-3">
        <label for="expirationTime" class="form-label mb-0">Expiration Time</label>
        <select class="form-select text-bg-secondary border-light" name="expirationTime" id="expirationTime" formControlName="expirationTime">
            <option value="5">5 min</option>
            <option value="30">30 min</option>
            <option value="60">1 hour</option>
            <option value="180">3 hour</option>
        </select>
    </div>
    <br>
    <button type="submit" class="btn btn-dark">Create</button>
</form>