<form [formGroup]="form" (ngSubmit)="submit()"
    class="card py-4 px-auto border-0 slide-in-fwd-center d-flex justify-content-center flex-column align-items-center"
    style="max-width: 500px; width: 100%;">
    <div class="mb-3 w-100" id="textDiv">
        <label for="text" class="form-label mb-0 white-text tracking-in-expand">Whispxr</label>
        <textarea class="form-control white-background border-light shadow" formControlName="text" id="text" rows="10"
            [placeholder]=currentText></textarea>
    </div>
    <br>
    <div class="mb-3 w-100" id="passwordDiv">
        <label for="password" class="form-label mb-0 white-text tracking-in-expand">Password</label>
        <div class="input-group shadow" id="passwordParent">
            <input [type]="isPasswordVisible ? 'text' : 'password'" class="form-control white-background border-light"
                formControlName="password" id="password"
                placeholder="&#9679;&#9679;&#9679;&#9679;&#9679;&#9679;&#9679;&#9679;" />
            <button type="button" (click)="togglePasswordVisibility()"
                class="btn btn-outline-light input-group-text text-bg-light">
                <i class="bi {{ isPasswordVisible ? 'bi-eye-fill' : 'bi-eye-slash-fill' }}"></i>
            </button>
        </div>
    </div>
    <br>
    <div class="mb-3 w-100" id="expirationDiv">
        <label for="expirationTime" class="form-label mb-0 white-text tracking-in-expand">Expiration Time</label>
        <select class="form-select white-background border-light shadow" name="expirationTime" id="expirationTime"
            formControlName="expirationTime">
            <option value="5">5 min</option>
            <option value="30">30 min</option>
            <option value="60">1 hour</option>
            <option value="180">3 hour</option>
        </select>
    </div>
    <br>
    <button type="submit" class="btn btn-lg btn-outline-primary shadow rounded-pill w-50 white-background"
        id="createButton">
        @if(isWaitingResponse){
        <span class="spinner-grow spinner-grow-sm" aria-hidden="true"></span>
        <span role="status"> Creating ...</span>
        }@else {
        Create
        }
    </button>
</form>
@if(final_url){
<div class="container d-flex justify-content-center align-items-center px-auto slide-in-fwd-center"
    id="secret_url_container" style="max-width: 400px; margin-top: 20px;">

    <!-- Botón pill, con ajuste de tamaño máximo y estilo de flexbox -->
    <button class="btn btn-primary rounded-pill me-2 text-truncate w-75" style=" height: 50px; overflow: hidden;"
        (click)="copyToClipboard()">
        {{final_url}}
    </button>

    <!-- Botón share circular, ajustado para mantener su forma -->
    <button class="btn btn-outline-secondary d-flex justify-content-center align-items-center rounded-circle"
        style="height: 50px; aspect-ratio: 1;" (click)="showSharingModal()">
        <i class="bi bi-share"></i>
    </button>
</div>
}